/* general type and html*/

body {
    margin: 0px;
}

h1 {
    font-family: 'Baloo Da 2', cursive;
    font-size: 24pt;
    text-align: center;
    padding-top: 60px;;
}

.pageTitle {
    text-align: left;
    margin-left: 50px;
    margin-top: -30px;
}

h2 {
    font-family: 'Baloo Da 2', cursive;
    font-size: 18pt;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
}


button {
    width: 200px;
    height: 50px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 12pt;
    text-align: center;
    color: #030720;
    border: none;
}

/* Body Starts Here*/

nav {
    width: 100%;
    background-color: #030720;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons {
    display: none;
}

.nav-item {
    font-family: 'Baloo Da 2', cursive;
    font-size: 18pt;
    color: #ffffff;
}
/*Specific Nav Components*/
.home {
    color: #ffffff;
    text-decoration: none;
}

.about-me {
    color: #FA8858;
    text-decoration: none;
}
.my-work {
    color: #FDCD77;
    text-decoration: none;
}
.contact-me {
    color: #D7F2D6;
}

#logo {
    padding-top: 5px;
}

.currantPage {
    color: #ffffff;
    text-decoration: underline;
}

.nav-title:hover {
    font-size: 28px;
}


/* Homepage section begins*/

#homeFront {
    margin:0px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "hero hi";
}
#hero {
    float: left;
    margin-left: 10%;
    padding: 20px;
    border-radius: 15px ;   
    grid-area: hero;
}

#hi {
    margin-right: 10%;
    grid-area: hi;
}

#graphic {
    padding: 10px 0px 10px 0px;
}

section {
    background-image: linear-gradient(to right,#FA8858,#FDCD77,#D7F2D6);
}

/* About Me Page CSS*/

#aboutMe {
    display: flex;
    justify-content: start;
    margin-left: 50px;
    margin-top: -20px;
}

#mainAbout {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}

#Hi {
    color: #fa8858;
    text-align: left;
}

#mainPara {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#mainImage {
    float: left;
}

#otherAbout {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
}

.otherInterests {
    font-family: 'Baloo Da 2', cursive;
    font-size: 18pt;
    color: #fa8858;
    background:none ;
}

#otherPics {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.top {
    margin-bottom: 50px;
}

.bottom {
    margin-top: 50px;
}

/*My Work Page CSS*/

.csInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #030720;
    color: #D7F2D6;
    text-align: center;
    height: 300px;
}
/*Grid*/

#workGrid {
    margin: 0px 8% 5% 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    grid-template-areas:  
    "hudMock hudInfo hudInfo"
    "victualInfo victualInfo victualMock"
    "foodMock foodInfo foodInfo";
}
#hudMock {
    grid-area: hudMock;
    text-align: center;
}
#hudInfo {
    grid-area: hudInfo;
}

#victualInfo {
    grid-area: victualInfo;
}
#victualMock {
    grid-area: victualMock;
    text-align: center;
}

#foodMock {
    grid-area: foodMock;
    text-align: center;
}
#foodInfo {
    grid-area: foodInfo;
}


/*
#workOne {
    margin: 0 5% 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#workTwo {
    margin: 0 5% 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#workThree {
    margin: 0 5% 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#hudMock {
    text-align: center;
}
#victualMock {
    text-align: center;
}
#foodMock {
    text-align: center;
}
*/


/*Case Study Button Info*/

#csButtonOrange {
    background-color: #fa8858;
}

#csButtonYellow {
    background-color: #FDCD77;  
}

#csButtonGreen {
    background-color: #D7F2D6;
}

.csTitle {
    color: #fa8858;
}



/*Footer Starts here*/

footer {
    background-color: #030720;
    height: 450px;
}

#online {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    padding-top: 50px;
    background-color: #030720;
    color: #ffffff;
}

p {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

#icons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
img {
    padding-right: 10px;
}
/*Responsive NAV*/

@media only screen and (max-width: 900px) {
    
    .nav-item {
      display: none;
    }
    .icons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #homeFront {
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "hero"
        "hi";
    }
    #hero {
        padding-left: 0px;
        margin: 0 25% 0 25%;
        width: 50%;
        height: auto;
    }
    #hi {
        margin: -10px;
        text-align: center;
    }

    
  }



@media only screen and (max-width:600px) {


    
    /* Responsive ABOUT PAGE*/
    #mainAbout {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: left;
        margin: 0px;
    }

    #mainImage {
        width: 100%;
        height: auto;
    }

    #otherAbout {
        display: flex;
        width: 90%;
        flex-direction: column;
        margin: 10px;
    }

    #otherPics {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .top {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .bottom {
        width: 100%;
        height: auto;
        margin: 0px;
    }

    /*Responsive WORK PAGE*/

    #workGrid {
        margin: 0 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
            "hudMock"
            "hudInfo"
            "victualMock"
            "victualInfo"
            "foodMock"
            "foodInfo";

    }
}

/*Responsive FOOTER*/

